
.form-row {
    margin-right: 30px;
    .form-field {
        width: 100%;
    }
}

.row-format {
    width: 300px; 
    font-size: 14px;
}

.error-messages {
    font-size: 14px;
    text-align: left;
    margin-left: 50px;
}

.container {
    border-radius: 10px;
    border: 1px solid black;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.action-button {
    text-align: center;
    button {
        margin-bottom:  20px;
    }
}